
/* footer */
.iconos{
    margin-bottom: 0;
}
.icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.copy {
    color: white;
    padding-bottom: 10px;
}

.fotoUno img{
    transition: all 3s;
    width: 100%;
    min-height: 400px;
    max-height: 800px;
}

