/* formulario bootsrap */

.borde-form{
    border: 1px solid darkgrey;
    padding: 20px;
}
.foto1{
    background-image: url("../img/imagen-principal.jpg");
    background-position: center center;
    background-size: cover;
    height: 400px;
}

