/* pagina menu */
.cajaProducto{
    display: flex;
    flex-direction: column;
    text-align: center;
    .producto img{
        width: 250px;
        height: 250px;
    }
    .producto h4::after{
        background-color: grey;
        content: "";
        display: block;
        height: 3px;
        width: 200px;
        margin: 20px auto;
    }
}

@include tablet{
    .cajaProducto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@include desktop{
    .cajaProducto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}
